.container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}



.sidebar h2 {
  margin-bottom: 20px;
}

.menu-item {
  padding: 10px 0;
  cursor: pointer;
  color: #333;
}

.menu-item.active {
  font-weight: bold;
  color: #000;
}

